/* general settings */
*, ::after, ::before {
    box-sizing: border-box;
  }

  html {
    margin:0px;
    zoom: 1;
  }

  body {
    color:#28334AFF;
    background:white;
    background-image: url("../pics/imageedit_2_9882116622.png");
  background-size: 100% auto;
    background-repeat: repeat-y;
    

  }

  /* div {
    border:red 1px solid;
  } */
  /* background img should take up the whole window  */


  .container-fluid{
    padding:0px;
  }


  .navbar {
      padding: 5px 45px;
      font-weight: bold;
      background-color: white !important;
  }

  .navbar-brand{
      padding:0px
  }

  .navbar-brand img {
      width:60px;
      height:50px;
  }

  #contact-icon {
    margin:0px !important;
    padding:0px;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("../pics/html-coding-5.png");
    padding:0px;
    font-size: 1.5rem;
}

.navbar-light .navbar-toggler {
    border:none;
    padding:0px;
}

.nav-link {
    padding:8px 15px;
}




#navbarTogglerDemo03 ul{
  margin-top:0 !important;
}

.navbar-nav .nav-link:hover{
  color:#D44638 !important;
}


.contact-icon {
    margin-top:10px;
    margin-left:10px;
    height:32px;
    width:32px;
    float:right !important;
  }

  @media screen and (max-width:767px) {
    #contact-icon {
      display:none;
    }
    .navbar-brand img {
      width:50px;
      height:40px;
  }
  .navbar-brand img {
    display:none

  }


  }

  .container {
    max-width:90% !important
  }

.row {
  margin:0px !important;
}
.container > .row{
  margin:10vh;
  height:80vh;
  max-height:900px;
  min-height:550px !important;
  /* background-color: aqua; */
}
 

  .img-container {
    padding:5px 15px;
  }

 .img-fluid {
   width:100%;
   height:auto;
   margin:10px auto;
 }
 .img-fluid.tall {
    min-height:280px;
   max-height:550px;
 }

 .img-thumbnail.rounded {
  border-radius: 0.5rem !important;
 } 
 
.img-thumbnail.yellow{
background-color: #fbde44ff !important;
}

.img-thumbnail.navy{
  background-color: #28334aff !important;
}

.img-thumbnail.red{
  background-color: #f65058ff !important;
}


.intext-icon {
    width:1.2em;
    height:1.2em;
}

h2 {
  font-size: 2.5rem;
  margin-top:0px;
  margin-bottom:25px;
  color: #D44638 
}

.jumbotron {
  padding-top:2rem !important;
  background-color:transparent;
}

.text {
  font-family: 'Sriracha', cursive,Times, 'Times New Roman', serif;
  text-align: justify;
}

#firstdiv-firstpic {
  padding:0px;
}

@media screen and (max-width:991px) {
  #second-col{
    display:none !important;
  }

@media screen and (max-width:767px) {
 .jumbotron {
   margin:0;
   padding:0 !important;
 }
}

@media screen and (max-width:575px) {
  #first-col{
    height:30% !important;
  }
.jumbotron {
  height:70% !important;
}
  .container div{
    margin:5px 0px !important;
    padding:5px 0px !important;
    height:auto !important
  }
